In [7]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\ironhack class practice\week 8 - final project\venv2\lib\site-packages (8.4.0)

In [ ]:
import mysql.connector

# Database connection details
db_params = {
    'host': 'localhost',
    'user': 'root',
    'password': 'root',
    'database': 'e_commerce'
}

# Path to your SQL file
sql_file_path = '../sql/create_customers.sql'

# Connect to the MySQL database
conn = mysql.connector.connect(**db_params)
cursor = conn.cursor()

# Read the SQL file
with open(sql_file_path, 'r') as sql_file:
    sql_script = sql_file.read()
print('reading finished')
print(f'{sql_script[:100]}')
print(f'{sql_script[-100:]}')
cursor.execute(sql_script)
print('execution finished')
# Commit the changes and close the connection
conn.commit()
conn.close()

print("SQL script executed successfully.")

In [2]:
import mysql.connector

# Database connection details
db_params = {
    'host': 'localhost',
    'user': 'root',
    'password': 'root',
    'database': 'e_commerce',
    'connection_timeout': 300,  # Increase timeout in seconds (e.g., 5 minutes)
}

# Path to your SQL file
sql_file_path = '../sql/transactions.sql'

# Connect to the MySQL database
conn = mysql.connector.connect(**db_params)
cursor = conn.cursor()

# Read the SQL file
with open(sql_file_path, 'r') as sql_file:
    sql_script = sql_file.read()
print('reading finished')
print(f'{sql_script[:100]}')
print(f'{sql_script[-100:]}')
cursor.execute(sql_script)
print('execution finished')
# Commit the changes and close the connection
conn.commit()
conn.close()

print("SQL script executed successfully.")

reading finished
INSERT IGNORE INTO transactions (transaction_id,customer_id,brand_id,category_id,product_type_id,pro
, 'January', '11:44:36', 7, 340.3190595, 2382.233417, 'Cash', 'Shipped', 'Same-Day', 'Average', 2);

execution finished
SQL script executed successfully.

In [1]:
!pip install pandas mysql-connector-python sqlalchemy

Requirement already satisfied: pandas in c:\users\lenovo\ironhack class practice\week 8 - final project\venv2\lib\site-packages (2.2.2)
Requirement already satisfied: mysql-connector-python in c:\users\lenovo\ironhack class practice\week 8 - final project\venv2\lib\site-packages (8.4.0)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.31-cp311-cp311-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\users\lenovo\ironhack class practice\week 8 - final project\venv2\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\ironhack class practice\week 8 - final project\venv2\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\ironhack class practice\week 8 - final project\venv2\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\ironhack class practice\week 8 - final project\venv2\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\ironhack class practice\week 8 - final project\venv2\lib\site-packages (from sqlalchemy) (4.12.2)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\ironhack class practice\week 8 - final project\venv2\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading SQLAlchemy-2.0.31-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   -- ------------------------------------- 0.1/2.1 MB 2.8 MB/s eta 0:00:01
   ------ --------------------------------- 0.3/2.1 MB 4.2 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.1 MB 4.9 MB/s eta 0:00:01
   -------------------- ------------------- 1.0/2.1 MB 6.0 MB/s eta 0:00:01
   ------------------------- -------------- 1.3/2.1 MB 6.0 MB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 5.7 MB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 5.6 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 4.1 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl (292 kB)
   ---------------------------------------- 0.0/292.8 kB ? eta -:--:--
   ------------------------------------- -- 276.5/292.8 kB 5.7 MB/s eta 0:00:01
   ---------------------------------------  286.7/292.8 kB 5.9 MB/s eta 0:00:01
   ---------------------------------------  286.7/292.8 kB 5.9 MB/s eta 0:00:01
   ---------------------------------------  286.7/292.8 kB 5.9 MB/s eta 0:00:01
   ---------------------------------------  286.7/292.8 kB 5.9 MB/s eta 0:00:01
   ---------------------------------------  286.7/292.8 kB 5.9 MB/s eta 0:00:01
   -------------------------------------- 292.8/292.8 kB 861.5 kB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.31

[notice] A new release of pip is available: 24.1 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd 
df = pd.read_csv("../data/cleaned/new_dataset_cleaned.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10194 entries, 0 to 10193
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          10194 non-null  int64
 1   Order ID        10194 non-null  object
 2   Order Date      10194 non-null  object
 3   Ship Date       10194 non-null  object
 4   Ship Mode       10194 non-null  object
 5   Customer ID     10194 non-null  object
 6   Customer Name   10194 non-null  object
 7   Segment         10194 non-null  object
 8   Country/Region  10194 non-null  object
 9   City            10194 non-null  object
 10  State/Province  10194 non-null  object
 11  Postal Code     10194 non-null  object
 12  Region          10194 non-null  object
 13  Product ID      10194 non-null  object
 14  Category        10194 non-null  object
 15  Sub-Category    10194 non-null  object
 16  Product Name    10194 non-null  object
 17  Sales           10194 non-null  float64
 18  Quantity        10194 non-null  int64
 19  Discount        10194 non-null  float64
 20  Profit          10194 non-null  float64
 21  Gender          10194 non-null  object
dtypes: float64(3), int64(2), object(17)
memory usage: 1.7+ MB

In [6]:
df.rename(columns = {col:col.lower().replace(' ','_') for col in df.columns},inplace = True)
df.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country/region', 'city',
       'state/province', 'postal_code', 'region', 'product_id', 'category',
       'sub-category', 'product_name', 'sales', 'quantity', 'discount',
       'profit', 'gender'],
      dtype='object')

In [21]:
# Define the columns you want to read
columns_to_read = ['customer_id', 'customer_name', 'country/region', 'city',
       'state/province', 'postal_code', 'region', 'gender']

# Read the specified columns from the CSV file into a Pandas DataFrame
df_order = df[columns_to_read]
display(df_order.duplicated().sum())
display(df_order.shape)
df_order.drop_duplicates(inplace=True)
display(df_order.duplicated().sum())
display(df_order.shape)

np.int64(5246)

(10194, 8)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13604\3644883870.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_order.drop_duplicates(inplace=True)

np.int64(0)

(4948, 8)

In [22]:
import mysql.connector
from sqlalchemy import create_engine

# MySQL database credentials
user = 'root'
password = 'root'
host = 'localhost'
database = 'retail_sales'

# Create the MySQL connection string
connection_string = f'mysql+mysqlconnector://{user}:{password}@{host}/{database}'

# Connect to the database using SQLAlchemy
engine = create_engine(connection_string)

# Replace 'your_table_name' with the name of the table you want to write to
df_order.to_sql('customers', con=engine, if_exists='replace', index=False)

4948