In [79]:
import pandas as pd
import numpy as np

In [80]:
df = pd.read_csv("../data/cleaned/retail_cleaned_new.csv")
df[df['year']==2023].head()

,year,month,transaction_id,customer_id,name,email,phone,address,city,state,...,total_amount,product_category,product_brand,product_type,feedback,shipping_method,payment_method,order_status,ratings,product_name
245376,2023,September,5451641,966681,Lee Carter,Sarah57@gmail.com,7650998597,3875 Shea Unions,London,Ontario,...,491.136051,Grocery,Coca-Cola,Water,Excellent,Standard,Cash,Delivered,4,Artesian water
245377,2023,September,6348684,782912,Isaac Heath,Holly81@gmail.com,9691825089,41288 Linda Key,Memphis,New York,...,50.927730,Clothing,Nike,T-shirt,Excellent,Express,Debit Card,Delivered,4,Scoop neck tee
245378,2023,September,2492334,98950,Tiffany Rodgers,Justin36@gmail.com,3008877103,0382 Jacob Shores Apt. 771,Kelowna,Ontario,...,460.744375,Grocery,Nestle,Chocolate,Excellent,Express,Debit Card,Delivered,5,Chocolate cookies
245379,2023,September,5699896,753291,Tim Moore,Kimberly72@gmail.com,4025425822,4038 Makayla Cliffs Suite 642,Brighton,England,...,4702.055015,Grocery,Nestle,Snacks,Excellent,Express,Debit Card,Delivered,4,Nuts
245380,2023,September,4604078,18523,Alexis Moreno,Samantha79@gmail.com,2290025126,96696 Raymond Lock Apt. 633,Detroit,Colorado,...,1798.752706,Electronics,Samsung,Tablet,Excellent,Express,Credit Card,Delivered,5,Microsoft Surface

In [81]:
# df_23 = df[df['year'] == 2023].copy()
# df_22 = df[df['year'] == 2022].copy()
# df_23 = df[(df['year'] == 2023) & (df['month']!='January') & (df['month']!='February')].copy()
# df_23['total_amount'] = df_22['total_amount'] * 1.
# df.update(df_23)
# df[df['year']==2023].head()

def increase_total_amount_by_percentage(df, month, increase):
    # Filter by both year and month
    filtered_df_23 = df[(df['year'] == 2023) & (df['month'] == month)].copy()
    # Increase total_amount by percentage
    filtered_df_23['total_amount'] = filtered_df_23['total_amount'] * increase
    # Update the original DataFrame with the modified values
    df.update(filtered_df_23)
    return df
month='March'
print(month)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())
df = increase_total_amount_by_percentage(df,month,30)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())

month='April'
print(month)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())
df = increase_total_amount_by_percentage(df,month,30)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())

month='May'
print(month)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())
df = increase_total_amount_by_percentage(df,month,50)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())

month='June'
print(month)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())
df = increase_total_amount_by_percentage(df,month,1000)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())

month='July'
print(month)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())
df = increase_total_amount_by_percentage(df,month,50)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())

month='August'
print(month)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())
df = increase_total_amount_by_percentage(df,month,50)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())

month='September'
print(month)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())
df = increase_total_amount_by_percentage(df,month,1000)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())

month='October'
print(month)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())
df = increase_total_amount_by_percentage(df,month,1000)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())

month='November'
print(month)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())
df = increase_total_amount_by_percentage(df,month,1000)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())

month='December'
print(month)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())
df = increase_total_amount_by_percentage(df,month,1000)
display(df[(df['year']==2023)&(df['month']==month)]['total_amount'].sum())

March

np.float64(76772.09062667002)

np.float64(2303162.7188000996)

April

np.float64(5017821.8502006)

np.float64(150534655.50601798)

May

np.float64(2076281.4865817004)

np.float64(103814074.329085)

June

np.float64(89272.52694579001)

np.float64(89272526.94578998)

In [82]:
df.to_csv('../data/cleaned/retail_cleaned_percent.csv',index=False)